frappe.listview_settings["{{doctype_config}}"] = {
hide_name_column: {% if hide_name_column %}true{% else %}false{% endif %}, // hide the last column which shows the `name`
hide_name_filter: {% if hide_name_filter %}true{% else %}false{% endif %}, // hide the default filter field for the name column
has_indicator_for_draft: {% if has_indicator_for_draft %}true{% else %}false{% endif %}, // set this to true to apply indicator function on draft documents too
{%- if add_fields %}
add_fields: [  
        {%- for item in add_fields -%}
'{{ item.field }}'{%- if not loop.last -%}, {% endif -%}
        {%- endfor -%}
], // add fields to fetch
{%- endif %}

{%- if filters %}
filters: [{%- for item in filters %}
    ['{{ item.field }}', '{{ item.condition }}', {{ item.value }}] {%- if not loop.last -%}, {% endif -%}
        {%- endfor %}
], // add fields to fetch
{%- endif %}

{% if get_indicator %}
get_indicator(doc) {
{{get_indicator}}
},
{% endif %}
}
